<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Book Creation Notification</h1>
    <p>
        You have successfully created a book with following information:<br>
        <b>Title:</b> <%= @book.title %><br>
        <b>Author:</b> <%= @book.author.name %><br>
        <b>Published Year:</b> <%= @book.published_year %><br>
    </p>
  </body>
</html>