<h1>Books</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Published Year</th>
        <th>Action</th>
    </tr>
    <% @books.each do |book| %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.author.name %></td>
            <td><%= book.published_year %></td>
            <td>
                <%= link_to "View", book_path(book) %>
            </td>
        </tr>
    <% end %>
</table>

<%= will_paginate @books %>

<%= link_to "Back", root_path %>
<%= link_to "New", new_book_path %>