<h1>New Book</h1>

<%= form_for @book do |f| %>
    <table>
        <tr>
            <td>Title</td>
            <td><%= f.text_field :title, required: true %></td>
        </tr>
        <tr>
            <td>Author</td>
            <td><%= f.select :author_id, @authors, {}, { required: true, selected: @book.author_id } %></td>
        </tr>
        <tr>
            <td>Published Year</td>
            <td><%= f.select :published_year, (Date.today.year-100)..(Date.today.year), :selected => Time.current.year %></td>
        </tr>
        <tr>
            <td colspan="2"><%= f.submit %></td>
        </tr>
    </table>
<% end %>