<h1>Detail Book</h1>

<table>
    <tr>
        <th>Title</th>
        <td><%= @book.title %></td>
    </tr>
    <tr>
        <th>Author</th>
        <td><%= @book.author.name %></td>
    </tr>
    <tr>
        <th>Published Year</th>
        <td><%= @book.published_year %></td>
    </tr>
</table>

<%= link_to "Back", books_path %>